<!DOCTYPE html>
<html>
<head>
	<title>Controls Portal</title>
	<style>
		/* You can add some styling here */
		body {
			font-family: Arial, sans-serif;
			text-align: center;
            margin: 350px
		}
		h1 {
			color: #008080;
		}
		a {
			color: #006699;
			text-decoration: none;
		}
	</style>
</head>
<body>
	<h1>Welcome to Controls Portal</h1>
	<p>Please register or login to access your account.</p>
	<a href="/register_user">Register</a> | <a href="/login_user/">Login</a>
	<br>
	<a href="events_portal/download">Download Event Details</a>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h7> made with <3 by Controls </h7>
	
</body>
</html>
